<h1>Edit Password</h1>
<%= form_with model: Current.user, url: edit_password_path, data: { turbo: false } do |form| %>
  <%= render "shared/form_errors", form: form %>
  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
  </div>
  <div class="mb-3">
    <%= form.label :password_confirmation, class: "form-label" %>
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
  </div>
  <div class="mb-3">
    <%= form.submit "Update Password", class: "btn btn-primary" %>
  </div>
<%end%>
